@import url(https://fonts.googleapis.com/css?family=Lato);

.test {
	width: 100px;
	height: 100px;
	background-color: red;
}

.chatbox {
    
    text-align: left;
    width: 300px;
    height: 300px;
    border: 2px solid #810000;
    margin-bottom: 25px;
}

.chatbox-messages {
    width: 100%;
    height: 280px;
    overflow: scroll;
    
}

.chatbox-input {
    width: 100%;
    height: 20px;
}

.player-list {
    
    width: 300px;
    height: 200px;
    border: 2px solid #810000;
}

.start-game {
    visibility: hidden;
}

.hand {
    display: block;
        
}

.hand-card {
    width: 105px;
    height: 150px;
    
    display: inline-block;
    vertical-align: bottom;
    cursor: pointer;
    
    
}

div.hand .hand-card{
    margin: 10px;
}

.played {
    display: block;
    position: absolute;
    left: 55%;
    top: 10%;
    width: 105px;
    height: 150px;
    z-index: 10;
    
   
}

.remaining {
    display: block;
    cursor: pointer;
    position: absolute;
    left:10%;
    top: 10%;
    width: 105px;
    height: 150px;
    z-index: 10;
    background-image: url(/images/backside.png);
    background-repeat: no-repeat;
    background-size: 105px 150px;
    
    
}

.textRemaining{
    display: block;
    cursor: pointer;
    position: absolute;
    left:10%;
    top: 40%;
    width: 105px;
    height: 25px;
    z-index: 10;
    background-color:#080640;
    color:#FFFFFF;
    text-align: center;
}

.textPlayed{
    display: block;
    cursor: pointer;
    position: absolute;
    left:55%;
    top: 40%;
    width: 105px;
    height: 25px;
    z-index: 10;
    background-color:#080640;
    color:#FFFFFF;
    text-align: center;
}

#playingCardsImg{
    text-align: center;
    width:100%;
    height: 100%;
}

body{
    display: block;
    background-color: #B28F61;
    width: 100%;
    height: 100%;
    font-family: 'Lato', sans-serif;
    font-size: 20px;
    /*overflow-y: hidden;
    overflow-x: hidden;*/
    color: #3B2F20;
    
}

h1{
    color: #3B2F20;
    text-align: center;
    font-size: 60px;
}

h2{
   
    color: #D3F0FF;
    text-align: center;
    font-size: 40px;
}

h3{
    
}

a{
    color: #00994F;
    color:lavenderblush;
    text-decoration:none;
}

a:hover{
    color: #3B2F20;
    transition: all 200ms ease-in;
}

h2:hover{
    color: #3B2F20;
    transition: all 200ms ease-in;
}

input{
    font-family: 'Lato', sans-serif;
}

li{
    text-align: center;
    list-style-type:none;
}
#table{
    display:inline-block;
    position: relative;
}
#tableImg{
   
   display: block;
    width: 100%;
    text-align: center;
    z-index: -1;
}

#body{
    display: table;
    
    margin: 0px auto;
}

.center{
    text-align:center;
}

.totaltable{
    display:inline-block;

}

#leftColumn{
    display:inline-block;
}

#gameTitle{
    text-align: left;
}

button{
    background-color:#3B2F20;
    color:#B28F61;
    border: 0px;
    padding: 10px;
    margin: 5px;
}

button:hover{
    color: #D3F0FF;
    transition: all 200ms ease-in;
}

#inputName{
    text-align: center;
    margin: 10px;
}

.content{
    text-align: center;
}



